fastapi
uvicorn
pandas
numpy
scikit-learn
python-multipart
openpyxl
python-dateutil
scipy
pydantic
xlsxwriter
psycopg2-binary
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
python-multipart
requests
statsmodels
prophet
tensorflow
pmdarima